In [1]:
import pandas as pd
import numpy as np

In [4]:
df =pd.read_csv("Iris - Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [6]:
df['SepalLengthCm'].describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: SepalLengthCm, dtype: float64

In [8]:
df.groupby('Species').describe()

                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  5.006  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]

In [9]:
df.groupby('Species').describe().sum()

Id             count    150.000000
               mean     226.500000
               std       43.732139
               min      153.000000
               25%      189.750000
               50%      226.500000
               75%      263.250000
               max      300.000000
SepalLengthCm  count    150.000000
               mean      17.530000
               std        1.504540
               min       14.100000
               25%       16.625000
               50%       17.400000
               75%       18.400000
               max       20.700000
SepalWidthCm   count    150.000000
               mean       9.162000
               std        1.017319
               min        6.500000
               25%        8.450000
               50%        9.200000
               75%        9.850000
               max       11.600000
PetalLengthCm  count    150.000000
               mean      11.276000
               std        1.195317
               min        8.500000
               25%       10.500000
               50%       11.400000
               75%       12.050000
               max       13.900000
PetalWidthCm   count    150.000000
               mean       3.596000
               std        0.579612
               min        2.500000
               25%        3.200000
               50%        3.500000
               75%        4.100000
               max        4.900000
dtype: float64

In [22]:
speed = [99,86,87,78,87,111,103,86,87,104,99]
x = np.mean(speed)
y= np.median(speed)
print(x,"\n",y)

93.36363636363636
 87.0

In [23]:
from scipy import stats
z=stats.mode(speed)
print(z)

ModeResult(mode=87, count=3)

In [26]:
list = [1,2,3,45,90]
n= len(list)
addition = sum(list)
mean = addition/n
print("Mean/Average = "+ str(mean))

Mean/Average = 28.2

In [27]:
list.sort()

In [30]:
if n%2 ==0:
    median1 = list[n//2]
    median2 = list[n//2-1] #can also use +1
    median =(median1+median2)/2
else:
    median = list[n//2]
print("median is " +str(median))

median is 3

In [41]:
from collections import Counter

list1 = [1, 2, 3, 4, 5, 6]
n = len(list1)
data = Counter(list1)
get_mode = dict(data)
mode = [k for k, v in get_mode.items() if v == max(list(data.values()))]

if len(mode) == n or len(mode) == len(list(data.values())):
    get_mode = "No mode found"
else:
    get_mode = "Mode is/are: " + ','.join(map(str, mode))

print(get_mode)

TypeError: 'list' object is not callable

In [43]:
import pandas as pd
df= pd.DataFrame({'A' : ['a','b','b','c','c','c','a','b'],
                  'B' : [0,1,0,1,1,0,0,1]}, dtype = "category")
df.dtypes

A    category
B    category
dtype: object

In [45]:
print(df)
print(df.groupby(['A']).count().reset_index())

   A  B
0  a  0
1  b  1
2  b  0
3  c  1
4  c  1
5  c  0
6  a  0
7  b  1
   A  B
0  a  2
1  b  3
2  c  3

C:\Users\91797\AppData\Local\Temp\ipykernel_23132\1765582287.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(['A']).count().reset_index())

In [47]:
import pandas as pd
df=pd.DataFrame({'A': ['a','b','c','c','a','b'],
             'B' : [0,1,1,0,1,0],
             'C': [7,8,9,5,3,6]})
df['A'] = df['A'].astype('category')
print(df)
print(df.groupby(['A','B']).mean().reset_index())

   A  B  C
0  a  0  7
1  b  1  8
2  c  1  9
3  c  0  5
4  a  1  3
5  b  0  6
   A  B    C
0  a  0  7.0
1  a  1  3.0
2  b  0  6.0
3  b  1  8.0
4  c  0  5.0
5  c  1  9.0

C:\Users\91797\AppData\Local\Temp\ipykernel_23132\2070378017.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(['A','B']).mean().reset_index())

In [48]:
import pandas as pd
new =pd.read_csv("Iris - Iris.csv")
print('Iris-setosa')
setosa= new['Species']=='Iris-setosa'
print(new[setosa].describe())
print('\nIris-versicolor')
versicolor = new['Species']=='Iris-versicolor'
print(new[versicolor].describe())
print('\nIris-virginica')
virginica = new['Species'] =='Iris-virginica'
print(new[virginica].describe())

Iris-setosa
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

Iris-versicolor
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

Iris-virginica
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000